<nav class="flex items-center justify-between flex-wrap p-6 primary-background">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
        <mat-icon class="mr-2">yard</mat-icon>
    <span class="font-semibold text-xl tracking-tight">Fruits</span>
  </div>

  <div class="w-full block sm:flex sm:items-center sm:w-auto">
    <div class="text-sm sm:flex-grow">
      <a routerLink="/fruits/list" class="cursor-pointer block mt-4 sm:inline-block sm:mt-0 text-purple-200 hover:text-white mr-4">
        Fruits list
      </a>
      <a routerLink="/fruit/add" class="block mt-4 sm:inline-block sm:mt-0 text-purple-200 hover:text-white mr-4">
        Add fruit
      </a>
    </div>
  </div>
</nav>
