<h1 class="mb-2 mt-0 text-4xl font-extrabold text-purple-800 text-center">
  {{ detail?.name }}
</h1>

<img
  src="https://picsum.photos/500/250.jpg"
  alt="Example image"
  class="block m-auto max-w-full"
/>

<table class="w-full mt-2 bg-white">
  <ng-container *ngFor="let data of mainData">
    <tr *ngIf="data.children as children; else singleValue">
      <td colspan="2">
        <mat-expansion-panel [hideToggle]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="text-lg text-purple-800 font-semibold">
                {{ data.label | titlecase }}
              </h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let child of children" class="table-row">
            <div class="table-cell p-2 text-base text-purple-800">
              {{ child.label | titlecase }}
            </div>
            <div class="table-cell p-2">{{ child.value }}</div>
          </div>
        </mat-expansion-panel>
      </td>
    </tr>

    <ng-template #singleValue>
      <tr>
        <td class="p-2 text-lg text-purple-800 font-semibold">
          {{ data.label | titlecase }}
        </td>
        <td class="p-2">{{ data.value }}</td>
      </tr>
    </ng-template>
  </ng-container>
</table>
