<h1 class="h1-title">
  {{ detail?.name }}
</h1>

<mat-card *ngIf="detail">
  <mat-card-content>
    <div class="flex flex-wrap">
      <img
        src="/assets/images/default.jpg"
        alt="Example image"
        class="block m-auto max-w-full shrink-0 mr-5 w-1/3"
      />

      <div class="grow">
        <div *ngFor="let field of fields">
          <span class="text-lg primary-color font-semibold">
            {{ field | titlecase }}:
          </span>
          <span>{{ detail[field] }}</span>
        </div>
      </div>
    </div>

    <app-nutritions-data [data]="detail.nutritions"></app-nutritions-data>
  </mat-card-content>
</mat-card>

<div class="text-right">
  <a mat-raised-button color="accent" class="mt-2" routerLink="/">
    <mat-icon>arrow_back</mat-icon>
    Back
  </a>
</div>
