

<ng-container *ngIf="model$ | async as model">
  <h2 class="mb-2 mt-0 text-lg font-extrabold text-purple-800">Fruits list ({{model.pagination.length}})</h2>


  <table mat-table [dataSource]="model.data" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columns">
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef class="text-purple-800 font-bold">
          {{ column | titlecase }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let _element">
        <mat-icon color="primary">visibility</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="model.pagination.length"
    [pageSizeOptions]="model.pagination.pageSizeOptions"
    [pageSize]="model.pagination.size"
    [pageIndex]="model.pagination.page"
    showFirstLastButtons
    (page)="getPaginationData($event)"
    aria-label="Select page of fruits"
  >
  </mat-paginator>
</ng-container>
