<ng-container *ngIf="model$ | async as model">
  <div class="flex mb-2 justify-between items-center flex-wrap">
    <h2 class="text-lg font-extrabold primary-color">
      Fruits list ({{ model.pagination.length }})
    </h2>

    <a mat-raised-button color="primary" routerLink="/fruit/add">Add fruit</a>
  </div>

  <table mat-table [dataSource]="model.data" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columns">
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef class="primary-color font-bold">
          {{ column | titlecase }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          color="primary"
          class="cursor-pointer"
          (click)="goToDetail(element)"
          >visibility</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="model.pagination.length"
    [pageSizeOptions]="model.pagination.pageSizeOptions"
    [pageSize]="model.pagination.size"
    [pageIndex]="model.pagination.page"
    showFirstLastButtons
    (page)="getPaginationData($event)"
    aria-label="Select page of fruits"
  >
  </mat-paginator>
</ng-container>
