/** Material **/
@import "material-icons/iconfont/material-icons.css";

/** Tailwind **/
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url('/assets/images/bg.jpg');
  background-size: 500px;
}

.no-margin .mat-form-field-wrapper {
  margin-bottom: -1.25em !important;
}
