/** Material **/
@import "material-icons/iconfont/material-icons.css";

/** Tailwind **/
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #c0bbc9;
}

.no-margin .mat-form-field-wrapper {
  margin-bottom: -1.25em !important;
}

.primary-color {
  color: #673ab7;
}

.primary-background {
  background-color: #673ab7;
}
